<?xml version="1.0"?>
<ajaxControlToolkit>
    <controlBundles>
        <controlBundle name="CalendarExtender_Bundle">
            <control name="CalendarExtender"></control>
        </controlBundle>
        <controlBundle name="ModalPopupExtender_Bundle">
            <control name="ModalPopupExtender"></control>
        </controlBundle>
      <controlBundle name="MaskedEditExtender_Bundle">
        <control name="MaskedEditExtender"></control>
      </controlBundle>
      <controlBundle name="TabContainer_Bundle">
        <control name="TabContainer"></control>
      </controlBundle>
    
      <controlBundle name="ListSearchExtender_Bundle">
        <control name="ListSearchExtender"></control>
      </controlBundle>
      <controlBundle name="AsyncFileUpload_Bundle">
            <control name="AsyncFileUpload"></control>
        </controlBundle>
      <controlBundle name="AjaxFileUpload_Bundle">
        <control name="AjaxFileUpload"></control>
      </controlBundle>
      <controlBundle name="ComboBox_Bundle">
        <control name="ComboBox"></control>
      </controlBundle>
      <controlBundle name="CollapsiblePanelExtender_Bundle">
        <control name="CollapsiblePanelExtender"></control>
      </controlBundle>
    </controlBundles>
</ajaxControlToolkit>